.speech {font-family: 'Times New Roman', Times, serif; font-size:20; color:black}
.direction {font-family: 'Courier New', Courier, monospace; font-size:15; color:black; background-color: yellow}
.direction:hover {
    background-color: lightpink; color: blue
}
.hedda{font-family: 'Comic Sans MS', Comic Sans, cursive; font-size:30 ; color:green}
.Mrselvsted{font-family: 'Comic Sans MS', Comic Sans, cursive; font-size:30 ; color:orange}
.berta{font-family: 'Comic Sans MS', Comic Sans, cursive; font-size:30 ; color:red}
.hedda:hover{color:black; text-shadow: 0px 0px 5px green; border: dashed 3px green;}
.Mrselvsted:hover{color: black; text-shadow: 0px 0px 5px orange; border: dashed 3px orange;}
.berta:hover{color: black; text-shadow: 0px 0px 5px red; border: dashed 3px red;}


table{border: solid 6px black; background-color: gray; text-align: center;}
td, th{border: solid 6px black; padding: 10px;}
tr:nth-child(even){background-color: cyan;}