.speech {font-family: 'Times New Roman', Times, serif; font-size:20; color:black}
.direction {font-family: 'Courier New', Courier, monospace; font-size:15; color:black; background-color: yellow}
.direction:hover {
    background-color: lightpink; color: blue
}
.hedda{font-family: 'Comic Sans MS', Comic Sans, cursive; font-size:30 ; color:green}
.Mrselvsted{font-family: 'Comic Sans MS', Comic Sans, cursive; font-size:30 ; color:orange}
.berta{font-family: 'Comic Sans MS', Comic Sans, cursive; font-size:30 ; color:red}

